.wrapper {
    width: 100%;
    max-width: 100%;
}

/*General style*/

.top-bar, footer{
    background-color: #FCE7CB;
}

h1, h2, h3, p, a, .copyright, form{
    color: #203181 !important;
}

h1{
    font-family: 'Lobster Two', cursive;
    font-size: 4rem;
}

.banner-title h2 {
    font-family: 'Lobster Two', cursive;
    font-size: 6rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 200;
}

.spotify-song{
    height: 100px;
}

.nav-list{
    align-items: center;
}

.nav-link:hover {
    background-color: #fef5e1;
}
.nav-link:active {
    background-color: #FFA428;
}

.links h4{
    color: #FFA428 !important;
}

/*Home page: background-color for uk-cards*/
.uk-card {
    background-color: #FFA428;
}

.ecommerce {
    background-color: #203181;
}

.ecommerce .uk-card-title {
    color: #FFA428 !important;
}


/*About page: font and icon colour*/

.member p{
    margin-bottom: 5;
}

.position {
    color: #FFA428 !important;
}

.fa-brands {
    color: #203181;
}

/*Contact page: background location , font and button colour*/
.location-wrapper {
    background-color: #bcc1d9;
}

.btn {
    background-color: #FFA428;
}

.address li {
    color: #203181;
}

.member img {
    width: 100%;
    max-width: 150px;
    height: auto; 
}

.location-wrapper .container {
    margin-bottom: -1rem !important;
}

/*Media query*/

@media (min-width: 768px) { 
    .uk-card-media-bottom{
        width: 75%;
    }

    .icon img {
        width: 100%;
        max-width: 150px;
        height: auto;
    }
}

@media (min-width: 992px) { 
    h1 {
        line-height: 0.5!important;
    }
    .banner-wrapper {
        max-width: 50%;
    }

    .services-content .uk-card-media-bottom{
        width: 100%;
    }

    .design .uk-card-media-bottom img{
        width: 100%;
        max-width: 500px;
        height: auto; 
    }

    .uk-card-media-bottom img{
        width: 100%;
        max-width: 250px;
        height: auto; 
    }

    .member img {
        width: 100%;
        max-width: 250px;
        height: auto; 
    }

    .icon img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }
}
